*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.site-topbar {
    position: relative;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}
.site-topbar li {
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;

}
.clear:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
}
html,body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width:1226px;
    margin:0 auto;
}
.site-topbar li:hover {
    color: #fff
}
.site-topbar .sep {
    margin: 0 .5em;
    color: #424242
}
.site-topbar .topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px
}
.topbar-cart {
    width: 120px;
    margin-left: 15px;
    float: right;
    margin:11px auto;
}
.cart-mini {
    color: #b0b0b0;
    background: rgb(42, 42, 42)
}
.cart-mini>i{
    display: block;
    font-size: 10px;
}
.topbar-info {
    position: relative;
    float: right;
    _display: inline;
    height: 40px
}
.topbar-info {
    line-height: 40px
}
 .site-topbar .topbar-info .sep {
    float: left
}
.topbar-info .link {
    padding: 0 5px;
    text-align: center;
    color: #b0b0b0;
}
.topbar-info .sep {
    margin: 0
}
/* 头部导航 */
.header-container{
    width:1226px;
    margin: 0 auto;
    padding:10px 10px;
    position: relative;
   
}
.header-pic{
    width: 60px;
    float: left;
   
}
.header-tit{
    width: 127px;
    height: 88px;
    cursor: pointer;
    float: left;
    text-align: center;
    line-height: 88px;
    margin-left: 20px;
}
.header-tit>span{
    width: 126px;
    height: 86px;
    font-size: 16px;
    color: #333;

}
ul,li,ol{
    list-style: none;
}
.nav-tab{
    width: 700px;
    height: 88px;
    display: flex;
    padding: 20px 0;
}
.nav-tab>li{
    flex:1;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
}

.show-list{
    position: absolute;
    border-top:1px solid #ccc;
    width: 1226px;
    padding: 10px 100px;
    display: flex;
    background: #fff;
    z-index: 9;
}
.show-list>li{
    flex: 1;
    border-right:1px solid #ccc ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-list>li>img{
    width: 160px;
    height: 110px;
    display: block;
}
/* 导航搜索 */
.nav-search{
    position: absolute;
    top:20px;
    right: 15px;
    border: 1px solid #ccc;
}
.nav-search>.search-ipt{
    display: inline-block;
    width: 234px;
    height: 48px;
    border: none;
    text-align: center;
    font-size: 18px;
}
.search{
    border: none;
    border-left: 1px solid #ccc;
    width: 52px;
    height: 50px;
}

/* 放大展示区 */
.wrapper{
    widows: 1425px ;
    padding-top: 120px;
}
.show{
    width: 1226px;
    margin: 0 auto;
    position: relative;
}
.show-tv{
    width:420px ;
    float: left;
    border: 1px solid #333;
    height: 420px;
    border: none;
}
.show-tv>img{
    width: 420px;
    height: 420px;
    z-index: 0;
}
.clear:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
}
a{
    text-decoration: none;
}
.cart-mini{
    cursor: pointer;
}
.goods-content{
    width: 400px;
    float: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 36px;
    height: 420px;
    margin-left: 50px;
}
.goods-content>p{
    color: #212121;
    font-size: 24px;
    padding: 20px 0;
}
.goods-content>.details{
    color: #b0b0b0;
    font-size: 16px;
}
.goods-content>.price{
    color: #ff6700;
    font-size: 20px;
}
.goods-content>.made{
    font-size: 16px;
    color: #ff6700;
}
.buy{
    cursor: pointer;
   font-size: 32px;
    border: 1px solid #ccc;
    background: #ff6700;
    width: 280px;
    height: 50px;
    font-size: 18px;
    color: #ccc;
}
.bg-pic{
    width: 420px;
    height: 425px;
    position: absolute;
    left:422px;
    border: 1px solid #333;
    /* overflow: hidden; */
    /* display: none; */
}
.mask{
    width: 150px;
    height: 200px;
    background: rgba(255,255,255,.3);
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: move;
    display: none;
}
.big-img{
    position: absolute;
    left: 0;
    top:0;
}